<%- include("header") -%>

<div class="search-type">
  <div class="type active">POPULAR</div>
  <div class="type">NOW PLAYING</div>
  <div class="type">TOP RATED</div>
  <div class="type	">UPCOMING</div>
</div>
<section class="list">
  <div class="item-list">
    <div class="item">
      <a href="#">
        <div class="item-img">
          <img src="images/film_min.png" alt="">
        </div>
        <div class="item-description">
          <div class="item-rate">
            <div class="progress-container">
              <div class="progress-rate" style="width: 65%"></div>
            </div>
            <img src="/images/rating.png" alt="">
            <div class="rate-value">
              <p>8.8</p>
            </div>
          </div>
          <div class="text-content">
            <p class="item-title">Ad Astra</p>
            <p class="item-type">Drama, Science Fiction</p>
            <p class="item-year">2019</p>
          </div>
          </p>
        </div>
      </a>
    </div>
    <div class="item">
      <a href="#">
        <div class="item-img">
          <img src="images/film_min.png" alt="">
        </div>
        <div class="item-description">
          <div class="item-rate">
            <div class="progress-container">
              <div class="progress-rate"></div>
            </div>
            <img src="/images/rating.png" alt="">
            <div class="rate-value">
              <p>8.8</p>
            </div>
          </div>
          <div class="text-content">
            <p class="item-title">Ad Astra</p>
            <p class="item-type">Drama, Science Fiction</p>
            <p class="item-year">2019</p>
          </div>
          </p>
        </div>
      </a>
    </div>
    <div class="item">
      <a href="#">
        <div class="item-img">
          <img src="images/film_min.png" alt="">
        </div>
        <div class="item-description">
          <div class="item-rate">
            <div class="progress-container">
              <div class="progress-rate"></div>
            </div>
            <img src="/images/rating.png" alt="">
            <div class="rate-value">
              <p>8.8</p>
            </div>
          </div>
          <div class="text-content">
            <p class="item-title">Ad Astra</p>
            <p class="item-type">Drama, Science Fiction</p>
            <p class="item-year">2019</p>
          </div>
          </p>
        </div>
      </a>
    </div>
    <div class="item">
      <a href="#">
        <div class="item-img">
          <img src="images/film_min.png" alt="">
        </div>
        <div class="item-description">
          <div class="item-rate">
            <div class="progress-container">
              <div class="progress-rate"></div>
            </div>
            <img src="/images/rating.png" alt="">
            <div class="rate-value">
              <p>8.8</p>
            </div>
          </div>
          <div class="text-content">
            <p class="item-title">Ad Astra</p>
            <p class="item-type">Drama, Science Fiction</p>
            <p class="item-year">2019</p>
          </div>
          </p>
        </div>
      </a>
    </div>
    <div class="item">
      <a href="#">
        <div class="item-img">
          <img src="images/film_min.png" alt="">
        </div>
        <div class="item-description">
          <div class="item-rate">
            <div class="progress-container">
              <div class="progress-rate"></div>
            </div>
            <img src="/images/rating.png" alt="">
            <div class="rate-value">
              <p>8.8</p>
            </div>
          </div>
          <div class="text-content">
            <p class="item-title">Ad Astra</p>
            <p class="item-type">Drama, Science Fiction</p>
            <p class="item-year">2019</p>
          </div>
          </p>
        </div>
      </a>
    </div>
    <div class="item">
      <a href="#">
        <div class="item-img">
          <img src="images/film_min.png" alt="">
        </div>
        <div class="item-description">
          <div class="item-rate">
            <div class="progress-container">
              <div class="progress-rate"></div>
            </div>
            <img src="/images/rating.png" alt="">
            <div class="rate-value">
              <p>8.8</p>
            </div>
          </div>
          <div class="text-content">
            <p class="item-title">Ad Astra</p>
            <p class="item-type">Drama, Science Fiction</p>
            <p class="item-year">2019</p>
          </div>
          </p>
        </div>
      </a>
    </div>
    <div class="item">
      <a href="#">
        <div class="item-img">
          <img src="images/film_min.png" alt="">
        </div>
        <div class="item-description">
          <div class="item-rate">
            <div class="progress-container">
              <div class="progress-rate"></div>
            </div>
            <img src="/images/rating.png" alt="">
            <div class="rate-value">
              <p>8.8</p>
            </div>
          </div>
          <div class="text-content">
            <p class="item-title">Ad Astra</p>
            <p class="item-type">Drama, Science Fiction</p>
            <p class="item-year">2019</p>
          </div>
          </p>
        </div>
      </a>
    </div>
    <div class="item">
      <a href="#">
        <div class="item-img">
          <img src="images/film_min.png" alt="">
        </div>
        <div class="item-description">
          <div class="item-rate">
            <div class="progress-container">
              <div class="progress-rate"></div>
            </div>
            <img src="/images/rating.png" alt="">
            <div class="rate-value">
              <p>8.8</p>
            </div>
          </div>
          <div class="text-content">
            <p class="item-title">Ad Astra</p>
            <p class="item-type">Drama, Science Fiction</p>
            <p class="item-year">2019</p>
          </div>
          </p>
        </div>
      </a>
    </div>
    <div class="item">
      <a href="#">
        <div class="item-img">
          <img src="images/film_min.png" alt="">
        </div>
        <div class="item-description">
          <div class="item-rate">
            <div class="progress-container">
              <div class="progress-rate"></div>
            </div>
            <img src="/images/rating.png" alt="">
            <div class="rate-value">
              <p>8.8</p>
            </div>
          </div>
          <div class="text-content">
            <p class="item-title">Ad Astra</p>
            <p class="item-type">Drama, Science Fiction</p>
            <p class="item-year">2019</p>
          </div>
          </p>
        </div>
      </a>
    </div>
    <div class="item">
      <a href="#">
        <div class="item-img">
          <img src="images/film_min.png" alt="">
        </div>
        <div class="item-description">
          <div class="item-rate">
            <div class="progress-container">
              <div class="progress-rate"></div>
            </div>
            <img src="/images/rating.png" alt="">
            <div class="rate-value">
              <p>8.8</p>
            </div>
          </div>
          <div class="text-content">
            <p class="item-title">Ad Astra</p>
            <p class="item-type">Drama, Science Fiction</p>
            <p class="item-year">2019</p>
          </div>
          </p>
        </div>
      </a>
    </div>
  </div>
</section>
</body>

</html>