<%- include("header") -%>


<section class="list">
  <div class="item-list">
    <% movieItems.forEach(item => { %>
    <%- include("item-card", {item: item}) -%>
    <% }) %>
  </div>
</section>




<script type="text/javascript" src="../js/scripts.js"></script>
</body>

</html>