.search-bar {
  width: 30%;
  height: 38px;
  margin: 18px auto;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  background-color: #d1d1d1;
}

.search-bar input {
  flex: auto;
  padding-left: 10px;
  font-size: 18px;
  line-height: 24px;
  background: transparent;
  border: none;
}

.search-bar input:focus,
button:focus {
  outline: none;
  border: none;
}

.search-bar button {
  padding: 0 12px;
  flex: initial;
  font-size: 20px;
  background: transparent;
  border: none;
}

.search {
  font-size: 1.3rem;
  margin: auto 0px auto 15px;
}